<ion-content padding>

  <div class="card logo_section">
    <div class="item item-text-wrap main_logo">
      <img src="../../assets/img/logo.png" />
    </div>
  </div>

  <ion-grid>
    <ion-row align-items-end>
      <ion-col size="1" align-self-bottom style="text-align: end;">
        <ion-icon  name="mail"></ion-icon>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-input (ionBlur)="toggleIcon($event)" (ionFocus)="toggleIcon($event)"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row align-items-end>
      <ion-col size="1" align-self-bottom style="text-align: end;">
        <ion-icon  name="mail"></ion-icon>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-input (ionBlur)="toggleIcon($event)" (ionFocus)="toggleIcon($event)"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-button expand="block">Login</ion-button>
</ion-content>